.mainOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*Глупейшая ошибка. Я ее не заметил, т.к смотрю на сайт с уменьшенным зумом, и просто не видел эту прокрутку*/